#galeria img {
  width: 350px;
  height: 400px; }

#galeria .col-lg-4 {
  padding: 25px;
  margin: 0px; }

.text-center {
  color: gold;
  font-family: cursive; }

#galeria img:hover {
  border: 5px solid #4d4949; }

.secciones {
  display: inline-block;
  background-color: black; }

a {
  text-decoration: none;
  color: gold;
  padding: 14px 16px;
  display: block;
  float: left; }

.secciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
  border-width: 20px;
  font-size: 20px; }

.logo {
  max-height: 100%;
  max-width: 350px; }

.bienvenidos {
  color: gold;
  font-family: 'Redressed', cursiva;
  font-size: 50px;
  position: 0;
  padding-left: 150px;
  padding-top: 0;
  padding-bottom: 200px; }

* {
  padding: 0;
  margin: 0; }

.solamente {
  color: gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px; }

section {
  background-image: url(../imagenes/fondo-2.jpeg);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.redes {
  color: gold;
  color: gold;
  text-align: center; }

.contacto {
  color: gold;
  text-align: center; }

.btn--twitter {
  background-color: #00d9ff; }

.btn--facebook {
  background-color: #300ec4; }

.btn--instagram {
  background-color: gold; }

.pieDePagina {
  background-color: black;
  height: auto;
  bottom: 0;
  margin-top: auto; }

footer {
  background-color: black;
  padding: 1em 0;
  text-align: center;
  margin-top: auto; }
