#galeria img {
  width: 250px;
  height: 250px; }

#galeria .col-lg-4 {
  padding: 25px;
  margin: 0px; }

.text-center {
  color: #d1ab2f;
  font-family: cursive; }

#galeria img:hover {
  border: 5px solid #4d4949; }

.navbar-dark .navbar-nav .nav-link {
  color: #d1ab2f;
  font-size: 1.5rem; }

.navbar-collapse {
  flex-grow: initial; }

.bienvenidos {
  color: #d1ab2f;
  font-family: 'Redressed', cursiva;
  font-size: 50px;
  position: 0;
  padding-left: 150px;
  padding-top: 0;
  padding-bottom: 200px; }

* {
  padding: 0;
  margin: 0; }

.solamente {
  color: #d1ab2f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px; }

section {
  background-image: url(../imagenes/fondo-2.jpeg);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.redes {
  color: #d1ab2f;
  color: #d1ab2f;
  text-align: center; }

.contacto {
  color: #d1ab2f;
  text-align: center;
  font-size: 20px; }

.btn--twitter {
  background-color: #00d9ff; }

.btn--facebook {
  background-color: #300ec4; }

.btn--instagram {
  background-color: gold; }

.pieDePagina {
  background-color: black;
  height: auto;
  bottom: 0;
  margin-top: auto; }

footer {
  background-color: black;
  padding: 1em 0;
  text-align: center;
  margin-top: auto; }
