*{
    padding: 0;
    margin: 0;
}

.secciones{
display: inline-block;
background-color: black;
}

a{
    text-decoration: none;
    color: gold;
    padding: 14px 16px;
    display: block;
    float: left;
}
 
.contacto{

    color: gold;
    text-align: center;

}


.logo{
    max-height: 100%;
    max-width: 350px;
}

section{
background-image: url(./imagenes/fondo-2.jpeg);
max-height: 100%;
max-width: 200%;
background-position: 0px 0px;
padding-top: auto;
}

.solamente{
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#galeria img{
    width: 350px;
    height: 400px;
}

#galeria .col-lg-4{
    padding: 25px;
    margin: 0px;
}
.text-center{
color: gold;
font-family: cursive;
}

#galeria img:hover{
    border: 5px solid rgb(77, 73, 73);
}


.secciones{
display: flex;
flex-direction:row;
justify-content: flex-end;
padding-right: 40px;
border-width: 20px;
}



.bienvenidos{
color: gold;
font-family:'Redressed', cursiva;
font-size: 50px;
position: 0;
padding-left: 150px;
padding-top: 0;
padding-bottom: 200px;
}

.pieDePagina{
background-color: black;
height: 150px;
bottom: 0;
margin-top: auto;
}

.redes{
color: gold;
color: gold;
text-align: center;
}