.pieDePagina{
    background-color: black;
    height: auto;
    bottom: 0;
    margin-top: auto;
    color: rgb(209, 171, 47);
    }

    footer{
        background-color: black;
        padding: 1em 0;
        text-align: center;
        margin-top: auto;
    }