#galeria img{
    width: 250px;
    height: 250px;
}

#galeria .col-lg-3{
    padding: 25px;
    margin: 0px;
}
.text-center{
color: rgb(209, 171, 47);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#galeria img:hover{
    border: 5px solid rgb(77, 73, 73);
}