*{
    padding: 0;
    margin: 0;
}

.solamente{
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

section{
    background-image: url(../imagenes/fondo-2.jpeg);
    max-height: 100%;
    max-width: 200%;
    background-position: 0px 0px;
    padding-top: auto;
    }