*{
    padding: 0;
    margin: 0;
}

.solamente{
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

section{
    background-image: url(../imagenes/fondo-2.jpeg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }